.page{ data: { "ng-controller" => "configurator", "ng-cloak" => true }}
	= partial "header"

	%form.config-settings

		= partial "info"
		= partial "directories"
		= partial "middleman"
		= partial "rewrite"
		= partial "html"

	= partial "menu"




